	<h1><%= @user.name + "'s info page"%></h1>
	<%= @user.name %><br>
	<%= @user.position.capitalize %><br>
	<%= @user.email %><br>
	<%= @user.phone_number %><br>
	<%= link_to "edit info", edit_user_url %><br>
	<% if @user.position == 'manager' %>
	<h4>My Staff: </h4>
	<h5>You have <%= @user.staff.count %> staff members</h5>
		<% @user.staff.each do |member| %>
		<li><a href="<%= user_url(member) %>"><%= member.name %></a><%= button_to "Delete Member", user_url(member), :method => :delete, :class => "btn-mini btn-danger" %>
		</li>
		<% end %>
		<%= link_to "add staff", new_user_url %>
	<% else %>
	<%= "My Manager is " + @user.manager.name %>
	<% end %>
	<br>